<!DOCTYPE html>
<html>
  <head>
    <title>Contactbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


 
    <%= javascript_importmap_tags %>
  </head>

  <body>





    
<h1 class="text-3xl font-bold underline">
    Contacts
</h1>
 
      <ul>
        <li class="nav-item">
              <%= link_to  "Home ", home_path  %>
        </li>
    
       <li class="nav-item">
       <%= link_to  "Create Contact ", new_contact_path  %> 
        </li>
      
     
      </ul>



    <%= yield %>
  </body>
</html>
